<div class="ui card">
    <div class="content">
        <div class="header">你的话题</div>
        <div class="ui divider"></div>
        <div class="description">Elliot Fu is a film-maker from New York.</div>
        <% if (session.user && session.user.topics ) { %>
        <% session.user.topics.forEach(function (topic) { %>
        <a class="header" href="/topic/<%= topic.id %>"><%= topic.title %></a>
        <% })} else { %>
        <p>您还没有任何话题</p>
        <% } %>
    </div>
    <a class=" ui green attached button " href="/create">发表话题</a>
</div>