<div class="ui card">
    <div class="content">
        <div class="header">你的话题</div>
        <div class="ui divider"></div>
        <div class="ui link list">
            <% if (session.user && session.user.topics ) { %>
            <% session.user.topics.forEach(function (topic) { %>
            <a class='item' href="/topic/<%= topic.id %>"><%= topic.title %></a>
            <% })} else { %>
            <p>您还没有任何话题</p>
            <% } %>
        </div>
    </div>
    <a class=" ui green attached button " href="/create">发表话题</a>
    <script type="text/javascript">
        var Submit = function(){
            console.log("提交post");
            $.ajax({
                url: "/api/test/",
                data: $('#sentToServer').serialize(),
                type:"POST",
                dataType:'text',
                success: function(msg){
                    alert(msg);
                }
                error: function(msg){
                    alert(msg);
                }
            });
        };
    </script>
    <form id="sentToServer">
        <input type="text" name="name" id="name"/>
        <input type="button" value="Upload" onClick="Submit()"/>
    </form>

</div>