<div class="ui card">
    <div class="content">
        <a class="header">友情链接</a>
        <div class="meta">
            <span class="date">2014加入</span>
        </div>
        <div class="description">
            史蒂夫费利西亚诺是图书馆学家，居住在纽约市。她喜欢把她的时间花在阅读和写作，跑步。
        </div>
    </div>
    <div class="ui bottom attached button">
        <i class="add icon"></i>
        添加朋友
    </div>
</div>