<div class="ui card">
    <div class="content">
        <div class="header">友情社区</div>
        <div class="ui divider"></div>
        <div class="ui list">
            <div class="item">
                <a href="https://cnodejs.org/" target="_blank"><img src="/images/cnode.png"  style="width:80%"></a>
            </div>
            <div class="item">
                <a href="https://ruby-china.org/" target="_blank"><img src="/images/ruby-china-20150529.png" style="width:80%"></a>
            </div>
            <div class="item">
                <a href="http://golangtc.com/" target="_blank"><img src="/images/golangtc-logo.png" style="width:80%"></a>
            </div>
        </div>
    </div>
</div>
