<div class="ui big middle aligned divided link list">
    <div class="item" style="">
        <img class="ui avatar image" src="/images/avatar2/small/lena.png">
        <div class="content">
            <p style="width: 60px;font-size: small">6455/2</p>
            <div class="content"><%= new Date().getFullYear() %> </div>
            <a href='/signup'>我是一篇文章</a>

        </div>

        <div class="ui right floated">
            <img class="ui avatar image" src="/images/avatar2/small/lena.png">
        </div>
    </div>
</div>