<div class="ui big middle aligned divided link list">
    <% var topicsLen = topics.length; %>
    <% topics.forEach(function (topic, index) { %>
    <div class="item">
        <img class="ui avatar image" src="/images/avatar2/small/lena.png">
        <div class="content">
            <a class="header" href='/topic/' + topic.id><b><%= topic.title %></b></a>
            <div class="description" style="font-size: small">回复<%= topic.post_count %>•浏览<%= topic.view_count %></div>
        </div>
        <div class="ui right floated">
            <div class="ui horizontal list">
                <div class="item">
                    <img class="ui avatar image" src="/images/avatar2/small/lena.png">
                </div>
                <div class="item">
                    <%= topic.update_time %>
                </div>

            </div>
        </div>
    </div>
    <% if (topicsLen > index + 1) { %>
    <% } %>
    <% }); %>
</div>

<script type="text/javascript">
    var dateDiff = function () {
        if (!arguments.length) return '';
        var arg = arguments,
                now = arg[1] ? arg[1] : new Date().getTime(),
                diffValue = now - arg[0],
                result = '',

                minute = 1000 * 60,
                hour = minute * 60,
                day = hour * 24,
                halfamonth = day * 15,
                month = day * 30,
                year = month * 12,

                _year = diffValue / year,
                _month = diffValue / month,
                _week = diffValue / (7 * day),
                _day = diffValue / day,
                _hour = diffValue / hour,
                _min = diffValue / minute;

        if (_year >= 1) result = parseInt(_year) + "年前";
        else if (_month >= 1) result = parseInt(_month) + "个月前";
        else if (_week >= 1) result = parseInt(_week) + "周前";
        else if (_day >= 1) result = parseInt(_day) + "天前";
        else if (_hour >= 1) result = parseInt(_hour) + "个小时前";
        else if (_min >= 1) result = parseInt(_min) + "分钟前";
        else result = "刚刚";
        return result;
    }
</script>