<div class="ui card">
    <div class="content">
        <div class="header">Markdown 语法参考</div>
        <div class="ui divider"></div>
        <div class="content">### 单行的标题</div>
        <div class="content">**粗体**</div>
        <div class="content">`console.log('行内代码')`</div>
        <div class="content">```js\n code \n``` 标记代码块</div>
        <div class="content">[内容](链接)</div>
        <div class="content">![文字说明](图片链接)</div>
        <a href="https://segmentfault.com/markdown" target="_blank">Markdown 文档</a>
    </div>
</div>