<div class="ui card">
    <div class="content">
        <div class="right floated meta">积分：40</div>
        <a href="/user/<%= topicUser.name %>">
            <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> <%= topicUser.name %>
        </a>
    </div>
    <div class="extra content">
        <%= topicUser.signature %>
    </div>
</div>