<div class="ui card">
    <% if (session && session.user && session.user.name) { %>
    <div class="content">
        <div class="right floated meta">积分：40</div>
        <a href="/user/<%= session.user.name %>">
            <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> <%= session.user.name %>
        </a>
    </div>
    <div class="extra content">
        <%= session.user.signature %>
    </div>
    <button class="ui basic button"><i class="icon settings"></i> 设置 </button>
    <% } %>
</div>