<div class="ui card">
    <div class="image">
        <img src="/images/women.jpg">
    </div>
    <div class="content">
        <a class="header">史蒂夫</a>
        <div class="meta">
            <span class="date">2014加入</span>
        </div>
        <div class="description">
            史蒂夫费利西亚诺是图书馆学家，居住在纽约市。她喜欢把她的时间花在阅读和写作，跑步。
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i>
            22个朋友
        </a>
    </div>
</div>