<% include header %>

<link rel="stylesheet" href="/mditor.min.css"/>
<script src="/mditor.min.js"></script>

<style>
    .mditor {
        margin: 45px auto;
        max-width: 960px;
    }
</style>

<script>
    var mditor = new Mditor("#editor", {
        height: 400,
        fixedHeight: true
    });
    mditor.openPreview();
</script>

<div class="ui form segment">
    <h2 style="margin-top:0">发表话题</h2>
    <div class="field">
        <div class="fields">
            <div class="field required">
                <label>版块</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="tab">
                    <div class="default text">版块</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value=>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field required">
        <label>标题</label>
        <input placeholder="标题字数不少于10字" type="text" name="title">
    </div>
	<textarea name="editor" id="editor">
在服务端解析
```javascript
var mditor = require("mditor");
var parser = mditor.Parser();
var html = parser.parse("** Hello mditor! **");
```
	</textarea>
    <input type="submit" class="ui button" value="发布">
</div>

<script>
    var mditor = new Mditor("#editor", {
        height: 400,
        fixedHeight: true
    });
    mditor.openPreview();
</script>

<% include footer %>