</div>
<div class="right floated left aligned four wide column">
    <div class="ui bound top sticky">
        <% if (session && session.user) { %>
        <% include partials/userCard %>
        <% include partials/createTopicCard %>
        <% } %>
        <% include partials/linkCard %>
    </div>
</div>
</div>
</div>
</body>
</html>