</div>
<div class="right floated left aligned four wide column">
    <div class="ui bound top sticky">
        <% include partials/userCard %>
        <% include partials/linkCard %>
    </div>
</div>
</div>
</div>
</body>
</html>