</div>
<div class="right floated left aligned four wide column">
    <div class="ui cards">
        <% if (typeof(position) !== 'undefined') { %>

        <% if (position === "home") { %>
        <% if ((typeof(session) !== 'undefined') && (typeof(session.user) !== 'undefined') && (typeof(session.user.name) !== 'undefined')){ %>
        <% include partials/userCard %>
        <% include partials/createTopicCard %>
        <% } %>
        <% } else if (position === "topic") { %>
        <% include partials/topicUserCard %>
        <% include partials/authorTopicCard.ejs %>
        <% } else if (position === "topicCreate") { %>
        <% include partials/markdownSyntaxCard.ejs %>
        <% } %>

        <% } %>
        <% include partials/linkCard %>
        <% include partials/DOTA2Card %>
    </div>
</div>
</div>
</div>
</body>
</html>