<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/semantic.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/semantic.min.js"></script>
    <script>
        $(document)
                .ready(function () {
                    $('.ui.menu .ui.dropdown').dropdown({
                        on: 'hover'
                    });
                    $('.ui.menu a.item')
                            .on('click', function () {
                                $(this)
                                        .addClass('active')
                                        .siblings()
                                        .removeClass('active')
                                ;
                            })
                    ;
                })
        ;
    </script>
    <style type="text/css">
        .main.container {
            margin-top: 7em;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.ui.sticky').sticky({
                context: '#main_container',
                offset: 60
            });
        })
    </script>
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
    </style>
</head>
<div class="ui fixed inverted main menu" id="main_menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/images/logo.png">
            MyBlog
        </a>
        <div class="right menu">
            <a href="/" class="item">首页</a>
            <% if (session && session.user) { %>
            <a href="/messages" class="item">未读消息</a>
            <% } %>
            <a href="/about" class="item">关于</a>
            <% if (session && session.user) { %>
            <a href="/logout" class="item">登出</a>
            <% } else { %>
            <a href="/signup" class="item">注册</a>
            <a href="/login" class="item">登录</a>
            <% } %>
        </div>
    </div>
</div>
<div class="ui main container" id="main_container">
    <div class="ui two column centered grid">
        <div class="left floated twelve wide column">