<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/ejs/css/style.css">
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a title="主页" href="/">home</a></span>
    <span><a title="登录" href="/login">login</a></span>
    <span><a title="注册" href="/reg">register</a></span>
</nav>

<article>