<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        <% if(typeof title !== 'undefined') { %>
        <%= title %>
        <% } %>
    </title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/semantic-ui/2.2.2/semantic.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/semantic-ui/2.2.2/semantic.min.js"></script>
    <style type="text/css">
        .main.container {
            margin-top: 7em;
        }
    </style>
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
    </style>
    <style type="text/css">
        .mditor {
            margin: 10px auto;
        }

        .markdown-body {
            margin: 10px auto;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted main menu" id="main_menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/images/logos/DOTA2.png">
            hezf-Blog
        </a>
        <div class="right menu">
            <a href="/" class="item">首页</a>
            <% if ((typeof(session) !== 'undefined') && (typeof(session.user) !== 'undefined')) { %>
            <a href="/message" class="item">
                未读消息
                <% if(typeof noReadMessageCount !== 'undefined' && noReadMessageCount !== 0) { %>
                <div class="ui red circular label"><%= noReadMessageCount %></div>
                <% } %>
            </a>
            <% } %>
            <a href="/about" class="item">关于</a>
            <% if ((typeof(session) !== 'undefined') && (typeof(session.user) !== 'undefined')) { %>
            <a href="/logout" class="item">登出</a>
            <% } else { %>
            <a href="/signup" class="item">注册</a>
            <a href="/login" class="item">登录</a>
            <% } %>
        </div>
    </div>
</div>
<div class="ui main container" style="margin-top: 70px;">
    <div class="ui two column grid">
        <div class="left floated twelve wide column">
