<% include header %>

<div class="ui segment">
    <% include partials/list %>
    <div class="ui pagination menu">
        <a class="item">
            1
        </a>
        <a class="item">
            1
        </a>
        <a class="item">
            3
        </a>
    </div>
</div>

<% include footer %>