<% include header %>

<div class="ui segment">
    <% include partials/list %>
    <p>
        一段文字
    </p>
    <div class="ui image">
        <img src="/images/image-text.png">
    </div>
    <p>
        一段文字
    </p>
    <div class="ui image">
        <img src="/images/image-text.png">
    </div>
    <p>
        一段文字
    </p>
    <div class="ui image">
        <img src="/images/image-text.png">
    </div>
</div>

<% include footer %>