<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <% if(typeof(title) !== 'undefined'){ %>
    <title><%= title %></title>
    <% } %>
    <link rel="stylesheet" href="https://cdn.staticfile.org/semantic-ui/2.2.2/semantic.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/semantic-ui/2.2.2/semantic.min.js"></script>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document)
                .ready(function () {
                    $('.ui.form')
                            .form({
                                fields: {
                                    name: {
                                        identifier: 'name',
                                        rules: [
                                            {
                                                type   : 'regExp[/^[a-zA-Z]{1}[a-zA-Z0-9_]{3,15}$/]',
                                                prompt : '用户名允许字母数字下划线，首位是字母，长度4-16'
                                            }
                                        ]
                                    },
                                    gender: {
                                        identifier: 'gender',
                                        rules: [
                                            {
                                                type: 'empty',
                                                prompt: '请选择性别'
                                            }
                                        ]
                                    },
                                    password: {
                                        identifier: 'password',
                                        rules: [
                                            {
                                                type   : 'regExp[/^[a-zA-Z0-9_]{6,16}$/]',
                                                prompt : '密码允许字母、数字、下划线，长度6-20'
                                            }
                                        ]
                                    },
                                    re_password: {
                                        identifier: 're_password',
                                        rules: [
                                            {
                                                type: 'match[password]',
                                                prompt: '两次密码不一致'
                                            }
                                        ]
                                    },
                                    email: {
                                        identifier: 'email',
                                        rules: [
                                            {
                                                type: 'email',
                                                prompt: '请输入有效的Email'
                                            }
                                        ]
                                    },
                                    signature: {
                                        identifier: 'signature',
                                        rules: [
                                            {
                                                type: 'maxLength[50]',
                                                prompt: '签名最长为50个字符'
                                            }
                                        ]
                                    }
                                },
                                //inline: true,
                                on: 'blur',
                                //transition: 'fade down',
                                onSuccess: submitSignUp
                            });
                    function submitSignUp() {
                        console.log('注册提交');
                        $.ajax({
                            url: "/signup",
                            data: $('.ui.form').serialize(),
                            type: "POST",
                            cache: false,
                            dataType: 'json',
                            success: function (msg) {
                                console.log(msg);
                                if (msg.result) {
                                    window.location.href = '/';
                                }
                                else {
                                    $('#updateMessage').show();
                                    $('#updateMessage').text(msg.message);
                                }
                                //console.log($('.ui.error.message').text);
                            },
                            error: function () {
                                alert('异常');
                            }
                        })
                    };
                    $('.ui.form').submit(function () {
                        return false;
                    });
                });
    </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="/images/logo.png" class="image">
            <div class="content">
                注册新用户
            </div>
        </h2>
        <form class="ui large form" method="post" action="/signup">
            <div class="ui form left aligned segment">
                <div class="required two fields">
                    <div class="field">
                        <label>用户名</label>
                        <input placeholder="用户名" type="text" name="name">
                    </div>
                    <div class="field">
                        <label>性别</label>
                        <select class="ui dropdown" name="gender">
                            <option value="">请选择性别</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>
                <div class="two required fields">
                    <div class="field">
                        <label>密码</label>
                        <input placeholder="Password" type="password" name="password">
                    </div>
                    <div class="field">
                        <label>重复密码</label>
                        <input placeholder="Confirm Password" type="password" name="re_password">
                    </div>
                </div>
                <div class="required field">
                    <label>邮箱</label>
                    <input placeholder="E-mail address" type="text" name="email">
                </div>
                <div class="field">
                    <label>签名</label>
                    <input name="signature" placeholder="50字以内" type="text">
                </div>

                <input type="submit" class="ui button large teal fluid" value="注册">
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui error message" id="updateMessage" style="display: none">
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
</script>

</body>
</html>