<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/semantic.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/semantic.min.js"></script>
</head>

<body>

<div class="ui mini horizontal divided list">
    <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/helen.jpg">
        <div class="content">
            <a class="header">海伦</a>
        </div>
    </div>
    <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
        <div class="content">
            <a class="header">克里斯托</a>
        </div>
    </div>
    <div class="item">
        <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
        <div class="content">
            <a class="header">丹尼尔</a>
        </div>
    </div>
</div>

</body>
</html>