<% include header %>

<div class="ui segment">
    <div class="item">
        <h1 class="ui header"><%= topic.title %></h1>
        <div class="item">•
            发布于 <%= topic.fromNow %>•
            作者 <%= topic.user_id %>•
        </div>
        <div class="ui divider"></div>
        <link rel="stylesheet" href="/mditor.min.css"/>
        <div class="markdown-body">
            <%- topic.content %>
        </div>

    </div>
</div>

<% include footer %>