<% include header %>

<div class="ui segment" >
    <h3 class="ui right pointing basic green ribbon large label">XXX创建的话题</h3>
    <% include partials/list %>
</div>
<% include partials/homePagination %>

<% include footer %>