<% include header %>

<div class="ui segment">
    <h3 class="ui right pointing basic green ribbon large label">XXX参与的话题</h3>
</div>

<div class="ui segment" >
    <% include partials/list %>
</div>
<% include partials/homePagination %>

<% include footer %>